@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: normal;
}

body {
    background-image: url('resources/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
header {
    margin-bottom: 30px;
    text-align: center;
    padding: 30px;
    background-image: url('resources/book.jpg');
}
section {
    width: 80%;
    margin: auto;
}

h1 {
    margin: 0px;
    font-size: 50px;
    color: rgb(255, 255, 255);
}
h4 {
    margin: 0px;
    color: white;
    background-color: rgb(4, 4, 22);
}

p {
    margin: 0px;
    font-size: small;
    color: gray;
}

input {
    margin-top: 4px;
    margin-bottom: 4px;
}
.input {
    border: 1px solid rgba(20, 115, 224, 0.39);
}
legend {
    color: rgb(40, 38, 172);
    font-size: large;
}
fieldset {
    background-color: rgba(255, 255, 255, 0.5);
}

span {
    color: red;
}